*.epk
*.eix

*.ipch
*.db
*.iobj
*.ipdb
*.tlog
*.pdb
*.pch
*.suo
*.obj
*.sbr
*.cod
*.log

.vs

Sources/Client-Source/source/*/Release
Sources/Client-Source/source/*/Distribute
Sources/Client-Source/source/*/Debug
Sources/Client/Metin2/syserr.txt
Sources/Client/Metin2/metin2.cfg
